[Unit]
Description=Yet another PasteBin
After=network.target syslog.target
Wants=network.target

[Service]
ExecStart=/usr/local/bin/ypb /var/lib/ypb
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target